@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Lobster&display=swap");
.layout-log-register {
  position: relative;
  display: flex;
  margin-top: 5%;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;

  .form-log-reg {
    width: 60%;
    // background-color: orange;
    min-height: 50vh;
    .tille-form {
      font-family: "DM Mono", monospace;
      color: green;
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .form-layout {
      width: 100%;
      background: rgba(54, 54, 54, 0.55);
      border-radius: 2rem;
      overflow: hidden;
      .container-butt-log-reg {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        .butt-register {
          font-family: "DM Mono", monospace;
          width: 50%;
          height: 40px;
          color: white;
          background: rgba(120, 243, 109, 0.63);
          font-size: 2rem;
          align-items: center;
        }
        .butt-log {
          font-family: "DM Mono", monospace;
          width: 50%;
          height: 40px;
          background: rgba(0, 0, 0, 0.43);
          font-size: 2rem;
          color: white;
        }
      }
    }
    .form-register-log {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 10px;
      .input-f {
        background: none;
        border: none;
        outline: none;
        width: 90%;
        height: 40px;
        color: white;
        font-size: 1.5rem;
        border-bottom: 1px solid white;
      }
      ::placeholder {
        font-family: "DM Mono", monospace;
        color: white;
      }

    }
    #butt-register-log {
        margin-top: 20px;
      width: 150px;
      height: 40px;
      margin-bottom: 50px;
    //   margin-left: 50%;
      border-radius: 2rem;
      border: none;
      outline: none;
      background: rgba(92, 242, 143, 0.73);
      color: black;
      font-weight: 600;
      font-style: italic;
      font-size: 2rem;

      &:hover{
          background-color: orange;
      }
    }
  }
}
